* {
    box-sizing: border-box;
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-size: 20px;
    
}

body {
    margin: 0;
    background-color: rgba(233, 150, 55, 0.952);
    color: rgb(70, 52, 18)

}

header {
    height: 90px;
    background-color: rgba(0, 0, 0, 0.801);
    padding: 30px 25px;
    color: rgba(221, 91, 58, 0.74);
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
}

nav > img {
    width: 40px;
    margin-right: 12px;
}

nav > span {
    font-size: 24px;
    font-weight: 700;
    font-size: 30px;
}

main {
    padding: 30px 30px;


}

main > h1 {
    margin: 5px 0;
    font-size: 60px;
}

main > ul {
    margin-top: 20px;

}

main > ul > li {
    margin-block: 6px;
    font-size: 30px;
}

main > ul > li::marker {
    color: rgb(255, 42, 4);
    font-size: 24px;
}

footer {
    margin-top: 120px;
    text-align: center;
}